{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/birds/bird-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Bird List</h1>
  {% comment %} images {% endcomment %}
</section>

<section class="card-container">
  {% for bird in birds %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/card.jpeg' %}" 
            alt="A skater boy bird"
          >
        </div>
        <h2 class="card-title">{{ bird.name }}</h2>
        {% if bird.age > 0 %}
          <p>A {{ bird.age }} year old {{ bird.species }}</p>
        {% else %}
          <p>A {{ bird.species }} chick.</p>
        {% endif %}
        <p><small>{{ bird.description }}</small></p>        
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}